{% extends 'main.html' %} {% block content %}
<div class="container-fluid">
  <div class="row justify-content-center" style="height: 90vh">
    <h4 class="text-center">Latest News</h4>
    <hr />
    <table class="table table-hover table-striped border align-self-center w-75">
      {% for news in news_list %} 
      {{ news }}
      <tr>
        <td>
          <p>{{ news.by }} <small> {{ news.id }}</small></p>
        </td>
      </tr>
      {% endfor %}
    </table>
    {{ news }}
  </div>
</div>
{% endblock %}
